.body {
  margin: 0;
}
.header {
  display: flex;
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: rgb(69, 87, 87);
  border-radius: 30px;
  position: fixed;
}
img {
  height: 40px;
  width: 40px;
}

.left-logo {
  margin: none;
  float: left;
  width: 25%;
  display: flex;
}

.left-logo h2 {
  color: #e3c6c6;
  margin: 16px 4px 0px 20px;
}
.left-logo img {
  border-radius: 50%;
  height: 60%;
  width: 12%;
  margin: 10px;
}
.navbar {
  display: flex;
  width: 70%;
}
.items {
  list-style: none;
  padding: 0 0 0 0;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
}
.items li {
  color: #ded2da;
  padding: 2px 68px 0px 37px;
  margin: 0px 36px;
  float: left;
  font-size: 20px;
}

.items li:hover {
  color: blue;
}
.cart-div {
  display: flex;
}
.cart-div ul {
  display: flex;
  justify-content: flex-end;
}

.cart-div img {
  height: 85%;
  width: 34%;
  margin: 3px 34px;
}
.cart-div img:hover {
  background-color: rgb(31, 176, 176);
}
.cart-div button {
  color: rgb(12, 18, 12);
  background-color: rgb(230, 220, 220);
  border-radius: 20px;
}
